<div class="container main-container">
  <h1>Уроки питона</h1>
  <mat-divider></mat-divider>
  <p>Самоучитель Python 3, собранный из материалов данного сайта. Предназначен в основном для тех, кто хочет изучить
    язык программирования Python с нуля.</p>
  <mat-list>
    <mat-list-item *ngFor="let lessonItem of lessonsList">
      <button class="navigation-button" mat-flat-button mat-line
              (click)="this.siteNavigator.goLesson(lessonItem.content_id)">{{lessonItem.title}}
      </button>
    </mat-list-item>
  </mat-list>
</div>
