
\.idea/

TestDjangular\.iml

backend/src/djangularTest/__pycache__/

backend/src/static/
backend/db.sqlite3
backend/__pycache__
backend/core/__pycache__/

backend/courses/__pycache__/

backend/courses/migrations/__pycache__/

backend/home/__pycache__/

backend/home/migrations/__pycache__/

backend/lessons/__pycache__/

backend/lessons/migrations/__pycache__/

backend/map/__pycache__/

backend/map/migrations/__pycache__/

backend/*/migrations/
