<div class="container main-container">
  <h1>{{this.name}}</h1>
  <mat-divider></mat-divider>
  <mat-list>
    <mat-list-item *ngFor="let lessonItem of courseLessonsList">
      <button class="navigation-button" mat-flat-button mat-line
              (click)="this.siteNavigator.goCourseLesson(content_id, lessonItem.content_id)">{{lessonItem.title}}
      </button>
    </mat-list-item>
    <mat-list-item>
      <button class="navigation-button" mat-flat-button mat-line *ngIf="questionsList.length !== 0"
              (click)="this.siteNavigator.goQuestions(content_id)"><b>Тесты для курса</b>
      </button>
    </mat-list-item>
  </mat-list>
</div>

