<div class="container main-container ">
  <h1  *ngIf="articlesList.length === 0">По запросу '{{search_title}}' ничего не найдено.</h1>
  <h1  *ngIf="articlesList.length !== 0">Показаны результаты по запросу
    '{{search_title}}'</h1>
  <mat-list>
    <mat-list-item *ngFor="let articleItem of articlesList">
      <button class="navigation-button" mat-flat-button mat-line (click)="navigateToPage(articleItem)">
        {{articleItem.title}}
      </button>
    </mat-list-item>
  </mat-list>
</div>
