/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  background: rgba(240, 240, 240, 1) url('src/assets/background.jpg');
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 8px;
}

input:focus {
  outline: none !important;
}
