/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  height: 100%;
  background: rgba(240, 240, 240, 1) url('src/assets/background.jpg');
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  margin-top: 8px;
}

h2 {
  text-align: center;
}


input:focus {
  outline: none !important;
}

pre {
    background: #efc;
    display: inline-block;
    padding: 20px;
    border: 1px solid #ac9;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    width: 80%;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
}

tr {
    background: #d0d0e0;
}

