<div class="container main-container">
  <h1>Карта сайта</h1>
  <mat-divider></mat-divider>
  <mat-list>
    <h3 mat-subheader>Курсы</h3>
    <ng-container *ngFor="let mapItem of mapCoursestList">
      <button class="navigation-button" mat-flat-button mat-line
              (click)="this.siteNavigator.goCourse(mapItem.courseData.content_id)"><b>{{ mapItem.courseData.title }}</b>
      </button>
      <mat-list style="margin-left:30px;">
        <div *ngFor="let mapItemLow of mapItem.articles">
          <mat-list-item>
            <button class="navigation-button" mat-flat-button mat-line
                    (click)="this.siteNavigator.goCourseLesson(mapItem.courseData.content_id, mapItemLow.content_id)">{{
              mapItemLow.title }}
            </button>
          </mat-list-item>
        </div>
      </mat-list>
    </ng-container>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Уроки</h3>
    <mat-list-item *ngFor="let mapItem of mapLesssonsList">
      <button class="navigation-button" mat-flat-button mat-line
              (click)="this.siteNavigator.goLesson(mapItem.content_id)">{{ mapItem.title }}
      </button>
    </mat-list-item>
  </mat-list>
</div>
