<div class="container main-container">
  <h1>Карта сайта</h1>
  <mat-divider></mat-divider>
  <mat-list>
    <h3 mat-subheader>Курсы</h3>
    <mat-list-item *ngFor="let mapItem of mapCoursesList">
      <button mat-flat-button mat-line (click)="this.siteNavigator.goCourse(mapItem.content_id)" style="text-align: left">{{mapItem.title}}</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 mat-subheader>Уроки</h3>
    <mat-list-item *ngFor="let mapItem of mapLesssonsList">
      <button mat-flat-button mat-line (click)="this.siteNavigator.goLesson(mapItem.content_id)" style="text-align: left">{{mapItem.title}}</button>
    </mat-list-item>
  </mat-list>
</div>

