.title-center {
  flex: 1 1 auto;
  text-align: center;
}
#container, .main-container {
  padding: 16px !important;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 32px !important;
  margin-bottom: 32px !important;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
