<div class="container main-container">
  <div class="row center">
    <h1>Язык программирования Python 3 для начинающих и чайников</h1>
    <mat-divider></mat-divider>
    <div class="container">
      <p>
        Язык программирования Python 3 — это мощный инструмент для создания программ самого разнообразного назначения,
        доступный даже для новичков. С его помощью можно решать задачи различных типов.
      </p>
      <p>
        Этот сайт призван помочь начинающим и чайникам научиться программировать на python 3. Также здесь можно
        подробнее
        узнать об особенностях функционирования этого языка.
      </p>
      <p>
        Язык Python обладает некоторыми примечательными особенностями, которые обуславливают его широкое
        распространение.
        Поэтому прежде чем изучать python, следует рассказать о его достоинствах и недостатках.
      </p>
    </div>
  </div>
</div>
